@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
#navbar{
    box-shadow: 5px 5px 20px rgba(196, 50, 50, 0.5); 
    position: sticky;
}
#navbarSupportedContent{
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
border-bottom: 2px solid #29f700;
}
#navbarSupportedContent button{
    border-radius: 115px;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.card:hover {
    transform: scale(1.05); /* Scale the card to 105% on hover */
    box-shadow: 3px 8px 16px 8px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */
}
